.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* SHARED STYLES */
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 18px 35px;
}
.secondary-bg{
  background-color: #FFF8F3;
}
.text-center{
  text-align: center;
}
/* HEADER STYLE */
.header{
  background-image: url('../images/developer.png'),url('../images/header_bg.png');
  background-repeat:no-repeat;
  background-position:top left , bottom right ;
}
/*Nav Styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
/* BANNER STYLES */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content{
  width: 585px;
  height: 356px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-weight: bold;
  font-size: 85px;
}
.banner-picture{
  width: 584px;
  height: 676px;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description{
  font-size: 18px;
  color: #757575;

}
/* MAIN STYLES */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* ABOUT STYLES */
.white{
  background-color: #FFFFFF;
  gap: 30px;
  border: 1px solid #cbcbcb;
  padding: 5px;
}
.about{
  border-radius: 10px;
  padding: 130px 150px ;
  text-align: center;
  margin-top: 130px;

}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-description{
  font-weight: 600;
}
/* SKILL SECTION */
.skills{
  margin-top: 150px;
  margin-bottom: 150px;
}
.skills-container{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 10px;
}
.section-description{
  width: 900px;
  margin: 50px auto;
}
.skill{
  width: 267px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: 2px 0px 10px #88888840;
    margin-right: 24px;
    border-radius: 5px;
    padding: 104px 33px 30px 33px ;
}
.skill-description{
  color: #757575;
  font-size: 16px;
  line-height: 1.6;
}

/* EDUCATION AND EXPERIENCE SECTION */

.resume-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}

.resume-title{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
/* Education */
.my-education{
  font-size: 30px;
  color: #474747;
}
.degree{
  font-size: 25px;
  color: #474747;
}
.uni{
  color: #757575;
  font-size: 20px;
  font-weight: normal;
}
.education-detail{
  color: #757575;
  font-weight: normal;
  font-size: 16px;
}
/* Experience */
.my-experience{
  font-size: 30px;
  color: #474747;
}
.position{
  font-size: 25px;
  color: #474747;
}
.company{
  color: #757575;
  font-size: 20px;
  font-weight: normal;
}
.experience-detail{
  color: #757575;
  font-weight: normal;;
  font-size: 16px;
}
.resume-download-cv{
  margin-top: 50px;
}

/* Footer SECTION */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
footer input[type="text"],footer input[type="email"],footer input[type="textarea"]{
  height: 64px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: #757575;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
} 
